header {
  position: relative;
}
.banner_box {
  width: 30%;
  position: absolute;
  top: 35%;
  left: 10%;
  height: 8.5rem;
  overflow: hidden;
}
.boarder_fad {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0)
  );
}

.buttons a {
  background-color: rgba(128, 128, 128, 0.685);
  display: inline-block;
  color: white;
  padding: 0.3rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  margin: 0.3rem;
}
